<div class="well">
  <ul>
     <li>
       <a href="{{path('fos_user_profile_show')}}">Informations</a>
     </li>
     <li>
       <a href="{{path('fos_user_profile_edit')}}">Edit Informations</a>
     </li>
     <li>
       <a href="#">Bills</a>
      </li>
    <li>
      <a href="#">Address</a>
    </li>
    <li>
      <a href="{{path('fos_user_security_logout')}} ">Deconnexion</a>
     </li>
   </ul>

</div>
