<div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="brand" href="index.php">Administration</a>
                   <div class="navbar-form form-search pull-right">
                   <form class="navbar-form form-search pull-right">
                      <input id="Search" class="input-medium search-query" name="Search" type="text" >
                      <button type="submit" class="btn">Rechercher </button>
                    </form>
               </div>
           </div>
          </div>
       </div>
