<section style="background-color:rgb(136, 84, 5); height: 115px;">
<img src="https://cdn.shopify.com/s/files/1/2645/0874/t/4/assets/logo.png?894701934338834032" style="float:left;background-color:rgb(136, 84, 5);" alt ="Wainting">

<div class="navbar navbar-default" >
               <div class="container" style="display:inline;">
                <div class="row">
                 <div >
                   <button class="btn btn-navbar"  type="button" href="http://localhost/symfony/web/app_dev.php/">
                       <span class="icon-bar" >Home</span>
                   </button>
                   <button class="btn btn-navbar"  type="button">
                       <span class="icon-bar">Cart</span>
                   </button>
                   <button class="btn btn-navbar"  type="button">
                       <span class="icon-bar">Account</span>
                   </button>
                   <button class="btn btn-primary"  type="button" href="http://localhost/symfony/web/app_dev.php/login">
                       <span class="icon-bar" >Login</span>
                   </button>

                </div>
                <div  style="margin-left:420px;">
                   <div class="navbar-form form-search pull-right">
                   <form class="navbar-form form-search pull-right ">
                      <input id="Search" class="input-medium search-query" name="Search" type="text" >
                      <button type="submit" class="btn">Rechercher </button>
                    </form>
                   </div>
                </div>
               </div>
           </div>
          </div>
       </div>
</section>
