.topbar-left{

  margin-left:120px;

}
.dropdown{
  position:relative;
  left:20px;
  top:2px;
}
.dropdown-toggle{
  position:relative;
  float:left;
  background-color:rgb(79, 55, 66);
  width:190px;
  height:30px;
  border-radius:80px;
  text-align:center;
  color:white;
}
.row{
  position:relative;
  left:150px;
  margin-bottom:100px;
}
.well2{
position:fixed;
left:100px;
top:200px;

}
.well3{
position:fixed;
left:100px;
top:250px;
}
.welling1{
  background-color:rgb(79, 55, 66);
  width:190px;
  height:34px;
  border-radius:80px;
  text-align:center;
  color:white;
}
.welling2{
  background-color:rgb(79, 55, 66);
  width:190px;
  height:34px;
  border-radius:80px;
  text-align:center;
  color:white;
}
.colo{
background-color: rgb(53, 135, 43) !important;
border-color: #8064A2;
}

.foooter{
color:white;
background-color:rgb(46, 27, 66);

}

.est{
position:relative;
float:right;

}
